@import "tailwindcss";
@import "@yimall/tailwind-config";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: var(--color-light);
    --background-alt: var(--color-light-900);
    --foreground: var(--color-dark);

    --shadow-outer-dark: 0 2px 2px rgba(59, 59, 59, 0.5);
    --shadow-inner-dark: inset 0 2px 2px rgba(37, 37, 37, 0.25);

    --shadow-outer-light: 0 2px 2px rgba(0, 0, 0, 0.15);
    --shadow-inner-light: inset 0 2px 2px rgba(255, 255, 255, 0.1);

    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --radius: 8.5px;
}

.dark {
    --background: var(--color-dark);
    --background-alt: var(--color-dark-900);
    --foreground: var(--color-light);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-primary: var(--font-poppins);
    --font-primary-alt: var(--font-monstserrat);
    --font-brand: var(--font-anta);
    --font-secondary: var(--font-raleway);
    --font-secondary-alt: var(--font-nunito);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-monstserrat);
}