NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_WORKSPACE_ID=
NEXT_PUBLIC_WORKSPACE_SLUG=
NEXT_PUBLIC_WORKSPACE_NUMBER=           #
NEXT_PUBLIC_WORKSPACE_VARIANT=          # right | center
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=   #

NEXT_PUBLIC_GOOGLE_API_KEY=
NEXT_PUBLIC_GOOGLE_MAP_ID=

NEXT_PUBLIC_SERVICE_URL=
